 
#message{
    position: absolute;
    bottom: 20px;
    width: auto;
    max-width: 80%;
    background-color:rgb(251, 174, 188);
    border-radius: 10px;
    padding: 10px;
    display: none;
 text-shadow: 1px 1px 20px  black;
 color: rgb(255, 255, 255);
}

.signup_main{
    /* display: flex;  */
    /* align-items: center; */
    /* justify-content: center; */
     width: 100%;
    margin-top: 10%;
}